<%= simple_form_for(@anecdote) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :uploaded_by %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
