<h1>Listing arrangements</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Uploaded by</th>
      <th>Description</th>
      <th>Public</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @arrangements.each do |arrangement| %>
      <tr>
        <td><%= arrangement.title %></td>
        <td><%= arrangement.uploaded_by %></td>
        <td><%= arrangement.description %></td>
        <td><%= arrangement.public %></td>
        <td><%= link_to 'Show', arrangement %></td>
        <td><%= link_to 'Edit', edit_arrangement_path(arrangement) %></td>
        <td><%= link_to 'Destroy', arrangement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Arrangement', new_arrangement_path %>
