<h1>Editing user</h1>

<%= render 'form' %>

<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.association :positions %>
  <%= f.association :stories %>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
