<h1>New user</h1>

<%= simple_form_for @user do |f| %>

  <%= f.input :password, hint: 'No special characters.' %>
  <%= f.input :password_confirmation  %>

  <%= f.input :title, collection: ["Mr.", "Dr.", "Prof."] %>
  <%= f.input :pref_first_name, label: "Preferred first name" %>
  <%= f.input :name, label: 'First name' %>
  <%= f.input :middle_name, label: 'Middle name' %>
  <%= f.input :last_name, label: 'Last name' %>
  <%= f.input :suffix, collection: ["Sr.", "Jr.", "III", "IV", "V"] %>
  <%= f.input :address_line1, label: "Address Line 1" %>
  <%= f.input :address_line2, label: "Address Line 2" %>
  <%= f.input :phone %>
  <%= f.input :whiff, :input_html => { :checked => false } %>
  <%= f.input :email, label:'Email address', hint: 'This will be your username for logging in' %>
  <%= f.input :alternate_email, label:'An alternate email address' %>
  <%= f.input :college, priority: [ "Unspecified" ], collection: [ "BK", "BR", "CC", "DC", "ES", "JE", "MC", "PC", "SY", "SM", "TD", "TC", "Unspecified"] %>
  <%= f.input :major %>
  <%= f.input :yaleyear, label: 'Yale class', hint: 'The year from which you graduated from Yale. Use four-digit years.' %>
  <%= f.input :sobclass, label: 'Your Yale class when you were tapped. Use four-digit years.' %>
  <%= f.input :tap_year, label: 'The year when you were tapped. Use four-digit years.' %> 
  <%= f.input :voicepart, collection: ["T1","T2","B1 (Bari)","B2"] %>

	<% if (User.all.count < 1) %>
		You are the first user. You must be an admin.<br>
	<% else %>
		The administrator will be notified of your application for a new account. Until your account is approved, you will not be able to access additional portions of the site. You will receive an e-mail confirming your account once an administrator has approved your application.
	<% end %>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Back', users_path %>
