<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @history_article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @history_article.description %>
</p>

<%= link_to 'Edit', edit_history_article_path(@history_article) %> |
<%= link_to 'Back', history_articles_path %>
